.ly-team-absences {
  text-align: left;

  .ly-background {
    overflow: hidden !important;
    height: 100%;
    position: relative;

    .ly-background-empty {
      background-color: white;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  .ly-carousel-item {
    display: inline-flex;
    margin-left: 5%;
  }

  .ly-team-absences-message {
    padding: 10px 15px;
  }

  .ly-name-initials-avatar {
    border-radius: 50%;
    background-color: #277bc6;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30%;
  }

  @media screen and (max-width: 414px) {
    .ly-name-initials-avatar {
      width: 60px;
      height: 60px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 320px) {
    .ly-name-initials-avatar {
      width: 50px;
      height: 50px;
      font-size: 18px;
    }
  }

  #carousel-team-absences {
    background: white;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    width: 94%;
  }

  ::ng-deep .owl-theme .owl-nav {
    height: 0;
  }

  /*IE fix for carousel nav using opacity*/
  @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    ::ng-deep .owl-theme .owl-nav .disabled {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .ly-carousel-item {
    margin-left: calc((100% - 260px) / 2) !important;
  }
}

@media screen and (max-width: 414px) {
  .ly-carousel-item {
    margin-left: calc((100% - 210px) / 2) !important;
  }
}

@media screen and (max-width: 320px) {
  .ly-carousel-item {
    margin-left: calc((100% - 180px) / 2) !important;
  }
}
