.ly-balance {
  padding-top: -10px;
  .ly-background {
    overflow: hidden !important;
    height: 230px;
    position: relative;
    .ly-background-white {
      background-color: white;
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .ly-carousel-small {
      height: 190px;
      padding-top: 10px;
      .ly-content-circle-number {
        font-size: 180%;
      }
      .ly-content-circle-type {
        font-size: 110%;
      }
    }
  }
}
