#payslips {
  .payslips-content {
    overflow: auto;
  }
  table.payslips-table {
    width: 100%;
    border-collapse: collapse;
    .table-title {
      th {
        font-weight: 400;
        border-bottom: solid 1px #e5e6e6;
      }
      th:hover {
        background-color: #f2f2f3;
      }
    }
    tr {
      height: 30px;
      td {
        word-wrap: break-word;
        text-align: center;
        padding: 10px;
      }
    }
    tr:not(:first-child):hover {
      background-color: #f2f2f3;
    }
    .payment-date {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 767px) {
  .payment-date {
    display: none;
  }
}
