@import 'scss/variables';
.ly-next-absence-content {
  #next-absences-tbl {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
    text-align: center;
    width: 100%;
    thead {
      padding: 6.5px;
    }
    tr {
      height: 20px;
    }
    td {
      padding: 7.5px;
      strong,
      p {
        display: inline;
      }
    }
    tbody {
      :hover {
        background-color: $ly-neutral-color7;
      }
    }
  }

  #absence-data-carousel {
    span {
      strong,
      p {
        display: inline;
        padding: 0px;
      }
    }
    .ly-card {
      margin: auto;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-spacing: 2px;
      padding-top: 20px;
      .ly-card-column-header,
      .ly-card-column-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        div,
        span,
        strong,
        p {
          width: 100%;
          height: 48px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .ly-card-column-header {
        width: 36%;
        div {
          font-size: 15px;
        }
        @media screen and (max-width: 330px) {
          max-width: 80px;
          padding-left: 5px;
        }
      }
      .ly-card-column-content {
        min-width: 115px;
        width: 36%;
        span,
        strong {
          font-size: 17px;
          color: #277bc6;
        }
      }
    }
  }

  .ly-x-no-data-message {
    padding: 10px 15px;
  }
}
