.preview-popup-body {
  width: 70vw;
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.preview-popup-content {
  align-self: stretch;
  overflow: hidden;
  flex-basis: 70vh;
}

.preview-dialog-content {
  height: 100vh;
  margin-top: 10px;
}

.preview-popup-footer {
  align-self: flex-end;
  margin-top: 10px;
  float: right;
}

.preview-dialog-content iframe {
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  color: rgba(0, 0, 0, 0.85);
  font-family: inherit;
  margin-bottom: 5px;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #b3d7ee;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #027bc7;
}
