@import 'scss/variables';
.ly-card-container {
  width: 200px;
  margin: 10px 0px 10px 0px;
  height: 224px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  text-align: center;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12);
  :hover {
    text-decoration: underline;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: none;
    .ly-card-name {
      font-weight: bold;
      font-size: 13px;
      padding: 0.4em;
    }
    .ly-card-description {
      font-size: 12px;
      color: $ly-brand-color-dark1;
      padding: 5%;
    }
  }
}

/* color code for card name */

.absences-color {
  color: #1b9dd8;
}

.activities-color {
  color: #f0a250;
}

.analytics-color {
  color: #f5ed89;
}

.dropfile-color {
  color: #bfceec;
}

.dropfile_deloitte-color {
  color: #bfceec;
}

.finance-color {
  color: #9e72cc;
}

.fleet-color {
  color: #ec5f87;
}

.hra-color {
  color: #c16e49;
}

.identity_admin-color {
  color: #df6e74;
}

.loyins-color {
  color: #b8e0e1;
}

.mf-color {
  color: #5860a8;
}

.payslips-color {
  color: #37a065;
}

.psft_employee-color {
  color: #00b2ad;
}

.psft_hr-color {
  color: #00b2ad;
}

.psft_manager-color {
  color: #00b2ad;
}
