@import 'scss/variables';
.ly-container {
  margin: 10px;
  padding: 12px;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.2), 0 1px 5px 0 hsla(0, 0%, 0%, 0.12);
  display: inline-block;
  border: 1px $ly-neutral-color7 solid;
  vertical-align: top;
  box-sizing: border-box;
  .ly-favorite-star {
    float: right;
    border: none;
    .ly-icon {
      color: #efce4a;
      font-size: 24px;
      background-color: white;
    }
  }
  .ly-component-title {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 8px;
    padding-left: 20px;
  }
  .ly-component-body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .ly-component-footer-btn {
    width: 100%;
    height: 28px;
    margin-top: 10px;
    background-color: #e4e8ea;
    color: #277bc3;
    font-weight: 400;
    border: none;
    cursor: pointer;
  }
  @media screen and (max-width: 1023px) {
    width: calc(100% - 20px) !important;
  }
}

.uploader-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #277bc3;
}

.margin-spinner {
  margin-left: calc((100% - 105px) / 2);
}
