$ly-brand-color-light5: #e8f3fa;
$ly-brand-color-light4: #e1eff8;
$ly-brand-color-light3: #d7eaf6;
$ly-brand-color-light2: #b3d7ee;
$ly-brand-color-light1: #76b8e1;
$ly-brand-color: #027bc7;
$ly-brand-color-dark1: #02629f;
$ly-brand-color-dark2: #014a77;
$ly-black-color: black;
$ly-neutral-color2: #fcfcfd;
$ly-neutral-color3: #fafafa;
$ly-neutral-color4: #f7f7f8;
$ly-neutral-color5: #f2f2f3;
$ly-neutral-color6: #ededee;
$ly-neutral-color7: #e5e6e6;
$ly-neutral-color8: #e0e1e1;
$ly-neutral-color9: #cbcccd;
$ly-neutral-color10: #c6c7c8;
$ly-neutral-color11: #b1b3b4;
$ly-neutral-color12: #8a8d8f;
$ly-neutral-color13: #707375;
$ly-neutral-color14: #4b4d4e;
$ly-neutral-color15: #323334;
$ly-neutral-color16: #252627;
$ly-font-size: 1rem;
$ly-smallest-font-size: 0.78571rem;
$ly-small-font-size: 0.85714rem;
$ly-medium-font-size: 1.14286rem;
$ly-large-font-size: 1.28571rem;
$ly-largest-font-size: 1.42857rem;
$ly-text-color: rgba(0, 0, 0, 0.8);
$ly-secondary-text-color: rgba(0, 0, 0, 0.7);
$ly-tertiary-text-color: rgba(0, 0, 0, 0.55);
$ly-text-color-disabled: rgba(0, 0, 0, 0.38);
$ly-form-control-label-color: rgba(0, 0, 0, 0.6);
$ly-form-required-label-color: red;
$ly-form-warning-message-color: sandybrown;
$ly-form-done-message-color: green;
$ly-form-error-message-color: red;
$ly-link-text-color-disabled: rgba(0, 0, 0, 0.38);
$ly-icon-color: rgba(0, 0, 0, 0.8);
$ly-drop-target-1-color: #d9f4fa;
$ly-drop-target-2-color: #c2eaf3;
$ly-radio-outer-circle-color: rgba(0, 0, 0, 0.54);
